extends base

block content
  main.main
    .signup-form
      h2.heading-secondary.ma-bt-lg Create an Account
      form.form.form--signup
        .form__group
            label.form__label(for='name') Name
            input#name.form__input(type='name', placeholder='John', required, autocomplete="current-name")
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required, autocomplete="current-email")
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8', autocomplete="current-password")
        .form__group.ma-bt-md
          label.form__label(for='password') Password Confirm
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8', autocomplete="current-password")
        .form__group
          button.btn.btn--green Create